*{
    margin: 0;
    padding: 0; 
    list-style-type: none;
    box-sizing:border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    }

.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
    margin: 0 !important;
    padding: 0 !important;
}

#grid-area .header {
    display: grid;
    grid-template-rows: 137px;
    grid-template-columns: 40% 60%;
    height: 18vh;
    grid-gap: 20px;
    align-items: right;
    width:100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to bottom right 90deg, black, red);
         }

#grid-area .header .menu {
    text-align: left;
    margin-left: 340px;
    width: 70%;
    display:flex ;
    align-items: center; 
}

#grid-area .menu ul {
    display:flex;
    justify-content: space-evenly;
    width: 100%;
}

#grid-area .menu ul li a {
    font-family: 'Poppins', sans-serif;
    color:white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: background-color .7s;
}

#grid-area .menu ul li a :hover {
    background-color: gold;
}


body{
    background: linear-gradient(to top right, black, red);
    background-size: cover;
    min-height: 100vh;
}

header {
    margin-bottom: 80px;
}

.home-img {
    width: 400px;
    height: 600px;
}

footer img{
    height: 40px;
}

footer {
    height: 150px; 
    background-color:#1F252A;
}

@media (min-width: 768px) {
    footer {
        height: 50px; 
    }
}        
    
