*{
    margin: 0;
    padding: 0; 
    list-style-type: none;
    box-sizing:border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }


 
#grid-contactanos .etiquetas {
    color: white;
    margin-top: 40px;
}

.text-area {
    margin: 25px;
    margin: 16px;
}

.emailto {
    color: white;
    margin: 16px;
}

.informacion {
    color: white;
    margin: 16px;
}

